/*-------------------->> HEADER <<--------------------*/

header{
    height: 250px;
}

.fondo{
    background: url('../images/home.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 61%;
}

.logo {
    text-align: center;
}
.logo img{
    margin-top: 20px;
    width: 85%;
}

/*-------------------->> SECTION EJERCICIO <<--------------------*/

.ejercicio{
    margin-bottom: 40px;
}

.ejercicio p{
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

.boton{
    padding-top: 30px;
}

.ejercicio p:nth-child(2){
    font-size: 2em;
}


/*-------------------->> SECTION FOOTER <<--------------------*/

.fondofooter{
    background-color: #47ccaf;
}

footer p{
    |position: absolute;
    |bottom: 0px;
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-size: 1.12em;
}